# /etc/yum.repos.d/rancher-rke2.repo
[rancher-rke2-common-latest]
name=Rancher RKE2 Common Latest
baseurl=https://rpm.rancher.io/rke2/latest/common/centos/8/noarch
enabled=1
gpgcheck=1
gpgkey=https://rpm.rancher.io/public.key

[rancher-rke2-{{ rke2_version | replace(".", "-") }}-latest]
name=Rancher RKE2 {{ rke2_version }} Latest
baseurl=https://rpm.rancher.io/rke2/latest/{{ rke2_version }}/centos/8/x86_64
enabled=1
gpgcheck=1
gpgkey=https://rpm.rancher.io/public.key
