# /etc/rancher/rke2/config.yaml
tls-san:
    - localhost
    - 127.0.0.1
    - "*.local"
    - {{ private_ip_address | quote }}
{% if additional_rke2_tls_sans is defined %}
{% for san in additional_rke2_tls_sans %}
    - "{{ san }}"
{% endfor %}
{% endif %}
{% if public_ip_address is defined %}
    - {{ public_ip_address | quote }}
{% endif %}