Host {{ hostvars["bastion"].local_fqdn }}
    HostName {{ hostvars["bastion"].ansible_host }}
    User {{ hostvars["bastion"].ansible_user }}
    IdentityFile "{{ hostvars["bastion"].ansible_ssh_private_key_file }}"
    ForwardAgent yes
{% for item in ( hostvars | dict2items | rejectattr("key", "equalto", "bastion") ) %}
Host {{ item.value.local_fqdn }}
    HostName {{ item.value.ansible_host }}
    User {{ item.value.ansible_user }}
    ProxyJump {{ bastion_hostname }}
{% endfor %}